* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #00ffbf;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    flex: 1;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #e0dbff4f;
}